doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Green Matrix
  script(src='https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.6/p5.js')
  //- script(src='/static/js/rain.js')
  script(src='/static/js/rain_v2.js') 
  link(rel='shorcut icon', href='/static/img/D_title.png')
body(style="margin: 0; overflow: hidden")
  